.header-nav{
    display: flex;
    justify-content: space-around;
    background-color: #2f3740;
    box-shadow: 0px 5px 16px 5px rgb(0, 0, 0);
}

.navigatepages{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30%;
}

.website-name{
    color: #dfe9f2;
    font-size: 30px;
    font-weight: 600;
}

p{
    color: #b7bfc7;
}

.searchbar{
    height: 28px;
    width: 180px;
    outline: none;
    border-radius: 3px;
    border: none;
    padding: 10px;
    margin-right: 10px;
}


button{
    height: 28px;
    color: #e6ebf0;
    background-color: #969fa8;
    border: 0px solid ;
    border-radius: 4px;
}