li{
    list-style: none;
}


.movie-poster{
    height: 450px;
    width: 300px;
}

.link-item{
    text-decoration: none;
}


.movie-name{
    font-size: 30px;
    font-style: bold;
    font-weight: 700;
    color : #ffffff;
    margin: 5px;
}

.movie-rating{
    color:#ffffff ;
    font-style: bold;
    font-weight: 700;
    font-size: 20px;
    padding-left: 5px;
}

.movie{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 300px;
    margin: 20px;
    flex: 1;
}